{% extends "base_with_menu.html" %}

{% load static %}

{% block main %}
<div class="container-fluid">
    <h1 class="mt-4">Projets</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nouveau projet" aria-label="Nouveau projet" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Créer</button>
        </div>
    </div>
    <div id="project-tree" class="row">
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% csrf_token %}
<script>
    $(function () {
        // Configuration : add authentication to ajax queries
        const oldSync = Backbone.sync;
        Backbone.sync = function(method, model, options){
            options.beforeSend = function(xhr){
                xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
            };
            return oldSync(method, model, options);
        };

        // Models
        const DjangoModel = Backbone.Model.extend({
            // Add trailing slash at end of urls
            url: function() {
                const origUrl = Backbone.Model.prototype.url.call(this);
                return origUrl + (origUrl.charAt(origUrl.length - 1) == '/' ? '' : '/');
            }
        });
        const Folder = DjangoModel.extend({});
        const FolderCollection = Backbone.Collection.extend({
            model: Folder,
            url: "{% url "folder-list" %}",
        });

        const Project = DjangoModel.extend({});
        const ProjectCollection = Backbone.Collection.extend({
            model: Project,
            url: "{% url "project-list" %}",
        });

        let folders = new FolderCollection();
        let projects = new ProjectCollection();

        // Functions
        function fillCollections(obj, callback) {
            const nodes = [];
            $.when(folders.fetch(), projects.fetch())
                .done(() => {
                    folders.forEach((folder) => {
                        nodes.push({
                            id: folder.cid,
                            text: folder.get("name"),
                            parent: folder.get("parent") ? folders.get(folder.get("parent")).cid : "#",
                            is_folder: true,
                        });
                    });
                    projects.forEach((project) => {
                        nodes.push({
                            id: project.cid,
                            text: project.get("name"),
                            parent: folders.get(project.get("folder")).cid,
                            icon: "{% static "cc/images/favicon/favicon-16x16.png" %}",
                            is_folder: false,
                        });
                    });
                    callback.call(this, nodes);
                });
        }

        function createFolder(node) {
            folder = new Folder({
                name: "nouveau dossier",
                parent: folders.get(node.id).id, // node.id === folder.cid
            });
            folders.add(folder);
            folder.save(null, {
                success: () => {
                    const tree = $('#project-tree').jstree(true);
                    id = tree.create_node(node, {
                        id: folder.cid,
                        text: folder.get("name"),
                        is_folder: true,
                    });
                    tree.edit(id);
                },
            });
        }

        function createProject(node) {
            project = new Project({
                name: "nouveau projet",
                folder: folders.get(node.id).id, // node.id === folder.cid
            });
            projects.add(project);
            project.save(null, {
                success: () => {
                    const tree = $('#project-tree').jstree(true);
                    id = tree.create_node(node, {
                        id: project.cid,
                        text: project.get("name"),
                        icon: "{% static "cc/images/favicon/favicon-16x16.png" %}",
                        is_folder: false,
                    });
                    tree.edit(id);
                },
            });
        }

        function deleteNode(node) {
            const collection = node.original.is_folder ? folders : projects;
            collection.get(node.id).destroy();
            const tree = $('#project-tree').jstree(true);
            tree.delete_node(node);
        }

        function renameNode(node, text) {
            const collection = node.original.is_folder ? folders : projects;
            modelNode = collection.get(node.id);
            modelNode.set("name", text);
            modelNode.save();
        }

        function moveNode(node, parent) {
            const tree = $('#project-tree').jstree(true);
            parent = tree.get_node(parent);
            if (! parent.original.is_folder) {
                tree.move_node(node, parent.parent);
                return;
            }
            parent_folder = folders.get(parent.id);
            if (node.original.is_folder) {
                folder = folders.get(node.id);
                folder.set("parent", parent_folder.get("id")); // parent.id = model.cid
                folder.save();
            } else {
                project = projects.get(node.id);
                project.set("folder", parent_folder.get("id")); // parent.id = model.cid
                project.save();
            }
        }

        $('#project-tree').jstree({
            core : {
                animation :0,
                check_callback: true,
                themes : {
                    variant : "large",
                    stripes : true,
                },
                data: fillCollections,
            },
            plugins : [
                "contextmenu", "dnd",
                //other plugins available : "search", "state", "types", "wholerow"
            ],
            contextmenu: {
                items: (node, callback) => {
                    const result = {};
                    if (node.original.is_folder) {
                        result.new = {
                            label: "Nouveau",
                            submenu: {
                                folder: {
                                    label: "Dossier",
                                    action: () => { createFolder(node); }
                                },
                                project: {
                                    label: "Projet",
                                    action: () => { createProject(node); }
                                },
                            },
                        };
                    }
                    result.delete = {
                        label: "Supprimer",
                        action: () => { deleteNode(node); },
                    };
                    result.rename = {
                        label: "Renommer",
                        action: () => {
                            const tree = $('#project-tree').jstree(true);
                            tree.edit(node);
                        }
                    };
                    return result;
                },
            },
            dnd: {
                copy: false,
            },
        });
        // EVENTS
        $('#project-tree')
            .on('rename_node.jstree', (e, data) => { renameNode(data.node, data.text); })
            .on('move_node.jstree', (e, data) => { moveNode(data.node, data.parent); })
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="{% static "cc/js/underscore.min.js" %}"></script>
<script src="{% static "cc/js/backbone.min.js" %}"></script>
<script src="{% static "cc/js/js.cookie-2.2.1.min.js" %}"></script>
{% endblock %}
