{% extends "base_with_menu.html" %}

{% load static %}

{% block main %}
<div class="container-fluid">
    <h1 class="mt-4">Projets</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nouveau projet" aria-label="Nouveau projet" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Créer</button>
        </div>
    </div>
    <div id="project-tree" class="row">
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(function () {
        const FolderCollection = Backbone.Collection.extend({
            url: "{% url "folder-list" %}"
        });
        const ProjectCollection = Backbone.Collection.extend({
            url: "{% url "project-list" %}"
        });

        let folders = new FolderCollection();
        let projects = new ProjectCollection();

        $('#project-tree').jstree({
            core : {
                animation :0,
                check_callback: true,
                themes : {
                    variant : "large",
                    stripes : true,
                },
                data: (obj, callback) => {
                    const nodes = [];
                    folders.fetch({
                        success: (collection) => {
                            collection.forEach((folder) => {
                                nodes.push({
                                    id: folder.cid,
                                    text: folder.get("name"),
                                    parent: folder.get("parent") ? collection.get(folder.get("parent")).cid : "#",
                                });
                            });
                            projects.fetch({
                                success: (collection) => {
                                    collection.forEach((project) => {
                                        nodes.push({
                                            id: project.cid,
                                            text: project.get("name"),
                                            parent: folders.get(project.get("folder")).cid,
                                            icon: "{% static "cc/images/favicon/favicon-16x16.png" %}",
                                        });
                                    });
                                    callback.call(this, nodes);
                                }
                            });
                        }
                    });
                },
            },
            plugins : [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ],
        });
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="{% static "cc/js/underscore.min.js" %}"></script>
<script src="{% static "cc/js/backbone.min.js" %}"></script>
{% endblock %}
